@page
@model Todo.UI.Pages.CreateModel
@{
}
<div class="text-center">
    <h1>Create New Todo</h1>
</div>
<form method="post">
    <div>
        <label asp-for="CreateTodoModel.NewTask"></label>
        <input type="text" asp-for="CreateTodoModel.NewTask" class="form-control" placeholder="Please enter a new item" />
        <span style="color:red" asp-validation-for="CreateTodoModel.NewTask"></span>
    </div>
    <div>
        <label asp-for="AssignedTo"></label>
        <select asp-for="CreateTodoModel.SelectedAssignedTo" class="form-control" asp-items="Model.AssignedTo">
            <option value="">Please Select</option>
        </select>
    </div>
    <div>
        <label asp-for="CreateTodoModel.Description"></label>
        <input type="text" asp-for="CreateTodoModel.Description" class="form-control" placeholder="Please enter description" />
        <span style="color:red" asp-validation-for="CreateTodoModel.Description"></span>
    </div>
    <br />

    <button class="btn btn-primary" type="submit">Add New</button>
</form>