@page
@model Todo.UI.Pages.EditTodoModel
@{
}
<div class="text-center">
    <h1>Edit Existing Todo</h1>
</div>
<form method="post">
    <div>
        <label asp-for="EditTodoViewModel.NewTask"></label>
        <input type="text" asp-for="EditTodoViewModel.NewTask" class="form-control" placeholder="Please enter a new item" />
        <span style="color:red" asp-validation-for="EditTodoViewModel.NewTask"></span>
    </div>
    <div>
        <label asp-for="AssignedTo"></label>
        <select asp-for="EditTodoViewModel.SelectedAssignedTo" class="form-control" asp-items="Model.AssignedTo">
            <option value="">Please Select Assigned To</option>
        </select>

      
    </div>
    <div>
        <label asp-for="EditTodoViewModel.Description"></label>
        <input type="text" asp-for="EditTodoViewModel.Description" class="form-control" placeholder="Please enter description" />
        <span style="color:red" asp-validation-for="EditTodoViewModel.Description"></span>
    </div>
    <br />

    <button class="btn btn-success" type="submit">Update</button>


</form>