@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1> Index Loaded</h1>
</div>
<div>
    <ul>
        @foreach (var todos in Model.ResponseModel)
        {
            <li>
                <strong> @todos.TaskName</strong> - @todos.TaskType
            </li>
        }
    </ul>
</div>
